[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = http://github.com/zklinger/dbext.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/MRU"]
	path = bundle/MRU
	url = http://github.com/vim-scripts/mru.vim.git
